@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
html{
    background-color: var(--Cor8);
}
*{
    border: 0px;
    margin: 0px;
    
}

body{
    background-color: var(--Cor1);
    height: 100%
}


:root{
    --Cor1: #E0E9ED;
    --Cor2: #303030;
    --Cor3: #78C4E0;
    --Cor4: #111111;
    --Cor5: #FFFFFF;
    --cor6: #EE7878;
    --Cor7: #7AE3DA;
    --Cor8: #282828;
    --fonte1:"Roboto", sans-serif;
    --fonte2:"Roboto Mono", monospace;
}
/*
:root{
    --Cor1: #23b36b;
    --Cor2: #211fa7;
    --Cor3: #29515f;
    --Cor4: #88941a;
    --Cor5: #FFFFFF;
    --cor6: #0b4870;
    --Cor7: #249b42;
    --Cor8: #ff1616;
}*/


/* Cabecalho _______________________________________*/


.cabecalho{
background-color:  var(--Cor1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.3% 0% 0% 0%;
}

.cabecalho_botoes{
    display: flex;
    flex-direction: row;
}

.cabecalho_botoes_word_withe1{
    background-color: var(--Cor2);
    text-decoration: none;
    color: var(--Cor5);
    font-size: 1.5rem;
    font-family: var(--fonte1);
    margin: 10px;
    padding: 5% 10%;
    border-radius: 8px;
    display: flex;
    gap: 10px;
}


.cabecalho_botoes_word_withe1:hover{
    background-color: var(--Cor3);
    text-decoration: none;
    color: var(--Cor4);
    font-size: 1.5rem;
    font-family: var(--fonte1);
    margin: 10px;
    padding: 5% 10%;
    border-radius: 8px;
    display: flex;
    gap: 10px;
}

.cabecalho_botoes_word_withe2{
    background-color: var(--Cor2);
    text-decoration: none;
    color: var(--Cor5);
    font-size: 1.5rem;
    font-family: var(--fonte1);
    margin: 10px;
    padding: 5% 10%;
    border-radius: 8px;
    display: flex;
    gap: 10px;
}

.cabecalho_botoes_word_withe2:hover{
    background-color: var(--Cor7);
    text-decoration: none;
    color: var(--Cor4);
    font-size: 1.5rem;
    font-family: var(--fonte1);
    margin: 10px;
    padding: 5% 10%;
    border-radius: 8px;
    display: flex;
    gap: 10px;
}

.botao_voltar{
    padding: 5px;
}

/* _____________________________________________________*/
/* Corpo _____________________________________________________*/

.corpo{
    background-color: var(--Cor8);
    color: var(--Cor5);
    font-family: var(--fonte1);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10% 13%;
    min-height: (100vh - 200px);
}

.corpo_inforcoes{
    padding-right: 13px;
    width: 70%;
}



.corpo_informacoes_texto_titulo{
    font-size: 4rem;
}

.D_verde_titulo{
    color: var(--Cor7);
    font-family: var(--fonte1);
    font-size: 4rem;
}

.D_verde{
    color: var(--Cor7);
    font-family: var(--fonte1);
    font-size: 1.5rem;
}

.D_vermelho{
    color: var(--cor6);
    font-family: var(--fonte1);
    font-size: 1.5rem;
}

.D_azul{
    color: var(--Cor3);
    font-family: var(--fonte1);
    font-size: 1.5rem;
}

.D_branco{
    color: var(--Cor5);
    font-family: var(--fonte1);
    font-size: 1.5rem;

}

.corpo_informacoes_botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-top: 90px;
}

.botao_sobre_min,
.botao_profissional,
.botao_academico{
    text-decoration: none;
    color: var(--Cor8);
    background-color: var(--Cor1);
    padding: 16px 140px;
    border-radius: 8px;
    font-family: var(--fonte1);
    font-size: 1.5rem;
}

.botao_sobre_min:hover{
    text-decoration: none;
    color: var(--Cor1);
    background-color: var(--cor6);
    padding: 16px 140px;
    border-radius: 8px;
    font-family: var(--fonte1);
    font-size: 1.5rem;
}
.botao_profissional:hover{
    text-decoration: none;
    color: var(--Cor1);
    background-color: var(--Cor7);
    padding: 16px 140px;
    border-radius: 8px;
    font-family: var(--fonte1);
    font-size: 1.5rem;
}
.botao_academico:hover{
    text-decoration: none;
    color: var(--Cor1);
    background-color: var(--Cor3);
    padding: 16px 140px;
    border-radius: 8px;
    font-family: var(--fonte1);
    font-size: 1.5rem;
}

.detalhe7,
.detalhe9{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}

.detalhe8{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 5px
}

.corpo_logo1{
    width:  100%;              
}

/* _____________________________________________________*/
/* Rodapé_____________________________________________________*/

.rodape{
    background-color: var(--Cor2);
    display: flex;
    justify-content: flex-end;
}

.rodape_detalhe4{
    padding: 15px;
}

@media (max-width:1200px) 

/* _____________________________________________________*/
/* Corpo _____________________________________________________*/{
.corpo{
    flex-direction: column-reverse;
    align-items: center;
    padding: 7% 7%;
    gap: 3px;
    min-height: 90vh;
    justify-content: flex-end
}
 

.corpo_informacoes_botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-top: 90px;
    padding-bottom: 90px;
}

.corpo_logo{
    display: flex;
    justify-content: center;
    width:  50%;
    padding-bottom: 20px;      
}

.corpo_inforcoes{
    width:  auto;

}

.corpo_informacoes_texto{
    display: flex;
    width:  auto;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.corpo_informacoes_texto_titulo{
    font-size: 3rem;
}
.D_verde_titulo{
    font-size: 3rem;
}
}