@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    border: 0;
}

:root{
    --Cor1: #E0E9ED;
    --Cor2: #303030;
    --Cor3: #78C4E0;
    --Cor4: #111111;
    --Cor5: #FFFFFF;
    --cor6: #EE7878;
    --Cor7: #7AE3DA;
    --Cor8: #282828;
    --fonte1:"Roboto", sans-serif;
    --fonte2:"Roboto Mono", monospace;
}

body{
    background-color: var(--Cor8);
    font-family: var(--fonte2);
    font-size: 1.875rem;
}


.cabecalho{
    background-color: var(--Cor1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0% 0% 0% 5%;
    white-space: nowrap
}

.cabecalho_botoes{
    display: flex;
    justify-content: space-between;
}


.cabecalho_botoes_profissional,
.cabecalho_botoes_academico{
    text-decoration: none;
    padding: 0% 5%;
    font-size: 1.5rem;
    font-family: var(--fonte1);
    color: var(--Cor8);
}

.cabecalho_botoes_sobre_min{
    text-decoration: none;
    padding: 0% 5%;
    font-size: 1.5rem;
    font-family: var(--fonte1);
    color: var(--cor6);
}

.cabecalho_botao_voltar{
    padding: 5px;
}

/* _____________________________________________________*/
/* Corpo _____________________________________________________*/

.corpo{
    color: var(--Cor1);

}
.corpo_informacoes_titulo_titulo{
    display: flex;
    justify-content: flex-start;
    align-items:flex-end;
    flex-direction: row;
    
}
.corpo_informacoes_titulo_sm{
    color: var(--Cor3);
    font-family: var(--fonte2);
    font-size: 6rem;
    padding-left: 1%;
    padding-right: 2%;
    white-space: nowrap
}
.corpo_informacoes_titulo_frase{
    padding-bottom: 30px;
}

.corpo_informacoes_titulo_detalhe{
    width: 60%;
}

.corpo_informacoes_p2,
.corpo_informacoes_p3_p4_p5,
.corpo_infomacoes_p9_p10{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.paragrafos{
    padding-left: 2%;
    width: 98%;
    background-image: url("Assets/Group.png")
}
.text{
    padding: 1.5% 0% 1.5% 0%;
}

@media (max-width:1200px) {

.cabecalho_botao_voltar{
    width: 10%;
}
.corpo_informacoes_titulo_titulo{
flex-direction: column;
align-items: flex-start
}
.corpo_informacoes_titulo_detalhe{
    width: 80%;
}

.corpo_informacoes_p2,
.corpo_informacoes_p3_p4_p5,
.corpo_infomacoes_p9_p10{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.detalhe15,
.detalhe16,
.detalhe14{
    width: 80%;
}

}